<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>InfoOt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </head>
    <body style="background-color: #f5fffa">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin-bottom: 1rem">
          <div class="container">
              <img src="/static/img/logo2.png" width="274" height="60" alt="" loading="lazy">
          </div>
        </nav>
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="colalign-self-center">
                    <h2> Войти в систему </h2>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Логин</label>
                            <div id="exampleInputEmail1">{{ form.username }}</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Пароль</label>
                            <div id="exampleInputPassword1">{{ form.password }}</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
