<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
    {% block content %}
        <div class="container">
            <div class="row" style="margin-bottom: 2rem">
                <div class="col-6">
                    {% if view.employee.photo_employee %}
                        <img src="{{MEDIA_URL}}{{ view.employee.photo_employee.url }}" style="width: 70%">
                    {% endif %}
                </div>
                <div class="col-5">
                    <!-- Информация оработнике -->
                    <p>{{view.employee.surname}} {{view.employee.name}} {{view.employee.patronym}}</p>
                    <p>Должность: {{view.employee.profession.name}}</p>
                    <p>Структурное подразделение: {{view.employee.subdivision}}</p>
                    <p>дата рождения: {{view.employee.birth_date}}</p>
                    <p>телефон: {{view.employee.phone}}</p>
                    <p><a href="{% url 'employee_update' view.employee.pk %}">Редактировать</a></p>
                     <!-- Кнопка-триггер модального окна -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Паспортные данные
                    </button>
                    <!-- информация о СОУТ -->
                    <p>
                        {% for sawc in view.employee.sawc.all %}
                            {% if sawc.document_sawc %}
                                Карта СОУТ <a href="{{sawc.document_sawc.url}}" download="{{sawc.document_sawc.url}}"><img src="/static/ico/download-48.png"></a>
                                           {% load static %}
                                           <a href="{% get_media_prefix %}{{sawc.document_sawc}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="row">
                <style>
                    .list-group-item.active {
                    z-index: 2;
                    color: #212529;
                    background-color: #FFB673;
                    border-color:#FFB673;;
                </style>
                <!-- Панель вкладок -->
                <div class="list-group list-group-horizontal" id="list-tab" role="tablist" style="margin-bottom: 1rem">
                    <a class="list-group-item list-group-item-action active" id="list-education-list" data-bs-toggle="list" href="#list-education" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Образование</a>
                    <a class="list-group-item list-group-item-action" id="list-medicine-list" data-bs-toggle="list" href="#list-medicine" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Мед.комиссия</a>
                    <a class="list-group-item list-group-item-action" id="list-certificate-list" data-bs-toggle="list" href="#list-certificate" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Удостоверения</a>
                    <a class="list-group-item list-group-item-action" id="list-psycho-list" data-bs-toggle="list" href="#list-psycho" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Псих.освидетельствование</a>
                    <a class="list-group-item list-group-item-action" id="list-orders-list" data-bs-toggle="list" href="#list-orders" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Приказы</a>
                    <a class="list-group-item list-group-item-action" id="list-instruction-list" data-bs-toggle="list" href="#list-instruction" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Инструкции</a>
                </div>
                <div class="row">
                    <div class="tab-content" id="nav-tabContent">
                        <!-- Вкладка образование -->
                        <div class="tab-pane fade show active" id="list-education" role="tabpanel" aria-labelledby="list-home-list">
                            {% if view.education %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                           <th scope="col">Название</th>
                                           <th scope="col">Дата завершения</th>
                                           <th scope="col">Документ</th>
                                           <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for ed in view.education %}
                                        <tr>
                                            <td>{{ed.prof_name}}</td>
                                            <td>{{ed.date_finish_education}}</td>
                                                {% if ed.document_education %}
                                                    <td><a href="{{ed.document_education.url}}" download="{{ed.document_education.url}}"><img src="/static/ico/download-48.png"></a>
                                                    {% load static %}
                                                        <a href="{% get_media_prefix %}{{ed.document_education}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                                    </td>
                                                {% else %}
                                                    <td>-</td>
                                                {% endif %}
                                            <td><a href="{% url 'education_update' ed.pk %}"><img src="/static/ico/edit-48.png"></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                            <a class="btn btn-primary btn-sm" href="{% url 'education_add' %}" style="width: 20%">Добавить образование</a>
                            {% else %}
                                <a class="btn btn-primary btn-sm" href="{% url 'education_add' %}" style="width: 20%">Добавить образование</a>
                            {% endif %}
                        </div>
                        <!-- Вкладка медицинских осмотров -->
                        <div class="tab-pane fade show" id="list-medicine" role="tabpanel" aria-labelledby="list-home-list">
                            {% if view.medicine %}
                                <table class="table">
                                     <thead>
                                        <tr>
                                          <th scope="col">Номер пункта</th>
                                          <th scope="col">Дата прохождения</th>
                                          <th scope="col">Дата следующего осмотра</th>
                                          <th scope="col">Осталось дней</th>
                                          <th scope="col"></th>
                                        </tr>
                                      </thead>
                                     <tbody>
                                        {% for med in view.medicine_paragraph %}
                                            <tr>
                                                <td>{{med.number_paragraph}}</td>
                                                <td>{{med.date_finish_paragraph}}</td>
                                                <td>{{med.date_end_paragraph}}</td>
                                                <td>{{med.time}}</td>
                                            </tr>
                                        {% endfor %}
                                     </tbody>
                                 </table>
                                {% if view.medicine.document_medicine %}
                                    <a href="{{view.medicine.document_medicine.url}}" download="{{view.medicine.document_medicine.url}}"><img src="/static/ico/download-48.png"></a>
                                    {% load static %}
                                        <a href="{% get_media_prefix %}{{view.medicine.document_medicine}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                {% endif %}
                            {% else %}
                                У Вас нет разультатов медицинского осмотра
                            {% endif %}
                        </div>
                        <!-- Вкладка удостоверений -->
                        <div class="tab-pane fade show" id="list-certificate" role="tabpanel" aria-labelledby="list-home-list">
                            {% if view.certificate %}
                             <table class="table">
                                 <thead>
                                     <tr>
                                         <th scope="col">Название</th>
                                         <th scope="col">Получил</th>
                                         <th scope="col">Срок действия</th>
                                         <th scope="col">Удостоверение</th>
                                         <th scope="col">Протокол</th>
                                         <th scope="col">Осталось дней</th>
                                         <th scope="col"></th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                 {% for c in view.certificate %}
                                     <tr>
                                        <td>{{c.name_certificate}}</td>
                                        <td>{{c.date_finish_certificate}}</td>
                                        <td>{{c.date_end_certificate}}</td>
                                        {% if c.certificate %}
                                            <td><a href="{{c.certificate.url}}" download="{{c.certificate.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                    <a href="{% get_media_prefix %}{{c.certificate}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                        {% else %}
                                            <td>-</td>
                                        {% endif %}
                                        {% if c.protocol %}
                                            <td><a href="{{c.protocol.url}}" download="{{c.protocol.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                    <a href="{% get_media_prefix %}{{c.protocol}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                            {% else %}
                                            <td>-</td>
                                        {% endif %}
                                        {% if c.time < 0 %}
                                            <td style="color: red">{{c.time}}</td>
                                        {% elif c.time < 31 %}
                                            <td style="color: orange">{{c.time}}</td>
                                        {% else %}
                                            <td style="color: green">{{c.time}}</td>
                                        {% endif %}
                                        <td><a href="{% url 'certificate_update' c.pk %}"><img src="/static/ico/edit-48.png"></a></td>
                                     </tr>
                                 {% endfor %}
                                 </tbody>
                             </table>
                            {% else %}
                                У Вас нет удостоверений
                            {% endif %}
                        </div>
                        <!-- Вкладка психиатрического освидетельствования -->
                        <div class="tab-pane fade show" id="list-psycho" role="tabpanel" aria-labelledby="list-home-list">
                            {% if view.psycho %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Дата освидетельствования</th>
                                        <th scope="col">Дата следующего освидетельстования</th>
                                        <th scope="col">Дней до окончания действия</th>
                                        <th scope="col">Заключение</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for psy in view.psycho %}
                                    <tr>
                                        <td> {{psy.date_finish_psycho}}</td>
                                        <td> {{psy.date_end_psycho}}</td>
                                        {% if psy.time < 0 %}
                                                <td style="color: red">{{psy.time}}</td>
                                            {% elif c.time < 31 %}
                                                <td style="color: orange">{{psy.time}}</td>
                                            {% else %}
                                                <td style="color: green">{{psy.time}}</td>
                                            {% endif %}
                                        {% if psy.document_psycho %}
                                            <td> <a href="{{psy.document_psycho.url}}" download="{{psy.document_psycho.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                    <a href="{% get_media_prefix %}{{psy.document_psycho}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                        {% else %}
                                            <td> - </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                У Вас нет результатов психиатрического освидетельствования
                            {% endif %}
                        </div>
                        <!-- Вкладка приказов -->
                        <div class="tab-pane fade show" id="list-orders" role="tabpanel" aria-labelledby="list-home-list">
                            {% if view.orders %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Номер приказа</th>
                                        <th scope="col">Название приказа</th>
                                        <th scope="col">Дата</th>
                                        <th scope="col">Приказ</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in view.orders %}
                                    <tr>
                                        <td> {{order.number}}</td>
                                        <td> {{order.name}}</td>
                                        <td> {{order.date}}</td>
                                        {% if order.file %}
                                            <td>
                                                <a href="{{order.file.url}}" download="{{order.file.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                <a href="{% get_media_prefix %}{{order.file}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                        {% else %}
                                            <td> - </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                Нет приказов с упоминанием Вас
                            {% endif %}
                        </div>
                        <div class="tab-pane fade show" id="list-instruction" role="tabpanel" aria-labelledby="list-home-list">
                            {% if view.instruction_profession or view.instruction_employee %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Номер инструкции</th>
                                        <th scope="col">Название инструкции</th>
                                        <th scope="col">Дата</th>
                                        <th scope="col">Срок действия</th>
                                        <th scope="col">Инструкция</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for instruction_p in view.instruction_profession %}
                                    <tr>
                                        <td> {{instruction_p.number}}</td>
                                        <td> {{instruction_p.name}}</td>
                                        <td> {{instruction_p.date}}</td>
                                        <td> {{instruction_p.date_end}}</td>
                                        {% if instruction_p.file %}
                                            <td> <a href="{{instruction_p.file.url}}" download="{{instruction_p.file.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                    <a href="{% get_media_prefix %}{{instruction_p.file}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                        {% else %}
                                            <td> - </td>
                                        {% endif %}
                                        <td>
                                            {% if instruction_p in view.familiarization_instructions %}
                                               Ознакомлен
                                            {% else %}
                                            <form action="{% url 'add_f_inst' %}" method="post" style="text-align: right">
                                                {% csrf_token %}
                                                <input type="hidden" name="id_inst" value={{instruction_p.id}}>
                                                <button type="submit" class="btn" style="background-color: #fff0; border: #fff0; padding-right:0">
                                                        Ознакомиться
                                                </button>
                                            </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% for instruction_e in view.instruction_employee %}
                                    <tr>
                                        <td> {{instruction_e.number}}</td>
                                        <td> {{instruction_e.name}}</td>
                                        <td> {{instruction_e.date}}</td>
                                        <td> {{instruction_e.date_end}}</td>
                                        {% if instruction_e.file %}
                                            <td> <a href="{{instruction_e.file.url}}" download="{{instruction_e.file.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                    <a href="{% get_media_prefix %}{{instruction_e.file}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                        {% else %}
                                            <td> - </td>
                                        {% endif %}
                                        <td>
                                            {% if instruction_e in view.familiarization_instructions %}
                                               Ознакомлен
                                            {% else %}
                                             <form action="{% url 'add_f_inst' %}" method="post" style="text-align: right">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id_inst" value={{instruction_e.id}}>
                                                    <button type="submit" class="btn" style="background-color: #fff0; border: #fff0; padding-right:0">
                                                            Ознакомиться
                                                    </button>
                                            </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                Для Вас нет инструкций по ОТ
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Паспортные данные</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
          {% for pass in view.passport %}
            <p>серия: {{pass.series}}</p>
            <p>номер: {{pass.number}}</p>
            <p>дата выдачи: {{pass.date_of_issue}}</p>
            <p>выдан: {{pass.fms}}</p>
            <p>прописка: {{pass.registration}}</p>
          {% endfor %}
      </div>
      <div class="modal-footer">
          {% if view.passport %}
                {% for pass in view.passport %}
                    <a class="btn btn-primary btn-sm" href="{% url 'passport_update' pass.id %}">Редактировать</a>
                {% endfor %}
                {% else %}
                    <a class="btn btn-primary btn-sm" href="{% url 'passport_add' %}">Добавить</a>
          {% endif %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

    {% endblock content %}
</body>
</html>