<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
    {% block content %}
    <div class="container">
        <div class="row" style="justify-content: center; margin-top: 2rem;">
            <div class="col formMobile" style="min-width: 30vw; max-width: 30vw;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for item in form %}
                        <p>
                            {{ item }}
                        </p>
                    {% endfor %}
                    <input class="btn" type="submit" value="Сохранить" style="background-color: #B0C4DE">
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
