<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
    {% block content %}
    <div class="container">
        <div class="row" style="justify-content: center; margin-top: 2rem;">
            <div class="col formMobile" style="min-width: 30vw; max-width: 30vw;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div style="margin-bottom: 0.25rem">{{ form.name_certificate_list }}</div>
                    <div style="margin-bottom: 0.25rem">{{ form.date_finish_certificate }}</div>
                    <div style="margin-bottom: 1rem">{{ form.date_end_certificate }}</div>
                    <div style="margin-bottom: 0.25rem">{{ form.certificate.label_tag }}</div>
                    <div style="margin-bottom: 1rem">{{ form.certificate }}</div>
                    <div style="margin-bottom: 0.25rem">{{ form.protocol.label_tag }}</div>
                    <div style="margin-bottom: 0.25rem">{{ form.protocol }}</div>
                    <div style="margin-bottom: 0.25rem">{{ form.employee }}</div>
                    <input class="btn" type="submit" value="Сохранить" style="background-color: #B0C4DE">
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
