<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
{% block content %}
<div class="container">
    <div class="row justify-content-start">
    {% for employ in employee %}
        <div class="row justify-content-start">
            <div class="col">
                <a class="nav-link" href="{% url 'profile_employee' employ.pk %}">{{employ.surname}} {{employ.name}} {{employ.patronym}}</a>
            </div>
            <div class="col">
                {{employ.profession}}
            </div>
            <div class="col">
                {{employ.subdivision}}
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock content %}
</body>
</html>