<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
{% block content %}
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Фото</th>
          <th scope="col">ФИО</th>
          <th scope="col">Дата рожд.</th>
          <th scope="col">Телефон</th>
          <th scope="col">Профессия</th>
          <th scope="col">Подразделение</th>
        </tr>
      </thead>
      <tbody>
      {% for employ in employee %}
        <tr>
          <th scope="row" style="width: 10%"><img src="{{MEDIA_URL}}{{employ.photo_employee.url}}" class="d-block w-100" style="" alt="..."></th>
          <td><a class="nav-link" href="{% url 'profile_employee' employ.pk %}">{{employ.surname}} {{employ.name}} {{employ.patronym}}</a></td>
          <td>{{employ.birth_date}}</td>
          <td>{{employ.phone}}</td>
          <td>{{employ.profession}}</td>
          <td>{{employ.subdivision}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content %}
</body>
</html>