<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
{% block content %}
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Название</th>
          <th scope="col">Дата</th>
          <th scope="col">Срок действия</th>
          <th scope="col">Файл</th>
        </tr>
      </thead>
      <tbody>
        {% for instruction in instructions %}
           <tr>
             <td>{{ instruction.number }}</td>
             <td>{{ instruction.name }}</td>
             <td>{{ instruction.date }}</td>
             <td>{{ instruction.date_end }}</td>
             <td>
                 {% if instruction.file %}
                     {% load static %}
                     <a href="{% get_media_prefix %}{{instruction.file}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                     <a href="{{instruction.file.url}}" download="{{instruction.file.url}}"><img src="/static/ico/download-48.png"></a>
                     <a href="{% url 'ref_inst' instruction.id %}"><img src="/static/ico/list.png"></a>
                     {% if admin_user or hr_user %}
                         <a href="{% url 'instruction_update' instruction.id %}"><img src="/static/ico/edit-48.png"></a>
                         <a href="{% url 'instruction_delete' instruction.id %}"><img src="/static/ico/delete-48.png"></a>
                     {% endif %}
                 {% endif %}
             </td>
           </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content %}
</body>
</html>