<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
{% block content %}
    <div class="container">
        <table class="table">
             <thead>
                <tr>
                  <th scope="col">Номер пункта</th>
                  <th scope="col">Дата прохождения</th>
                  <th scope="col">Дата следующего осмотра</th>
                  <th scope="col">Осталось дней</th>
                  <th scope="col">Действие</th>
                </tr>
              </thead>
             <tbody>
                {% for med in medicineParagraph %}
                    <tr>
                        <td>{{med.number_paragraph}}</td>
                        <td>{{med.date_finish_paragraph}}</td>
                        <td>{{med.date_end_paragraph}}</td>
                        <td>{{med.time}}</td>
                        <td><a class="btn btn-primary btn-sm" href="{% url 'paragraph_update' med.pk %}">Редактировать</a></td>
                    </tr>
                {% endfor %}
             </tbody>
         </table>
        {% if medicine.document_medicine %}
            <a href="{{medicine.document_medicine.url}}" download="{{medicine.document_medicine.url}}">Скачать заключение</a>
        {% endif %}
        <a class="btn btn-primary btn-sm" href="{% url 'paragraph_add' %}">Добавить пункт</a>
{% endblock content %}
</body>
</html>