<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
    {% block content %}
        <div class="container">
            <div class="row" style="margin-bottom: 2rem">
                <div class="col-6">
                    {% if current_profile.photo_employee %}
                        <img src="{{MEDIA_URL}}{{ current_profile.photo_employee.url }}" style="width: 70%">
                    {% endif %}
                </div>
                <div class="col-5">
                    <p>{{current_profile.surname}} {{current_profile.name}} {{current_profile.patronym}}</p>
                    <p>Должность: {{current_profile.profession}}</p>
                    <p>Структурное подразделение: {{current_profile.subdivision}}</p>
                    <p>дата рождения: {{current_profile.birth_date}}</p>
                    <p>телефон: {{current_profile.phone}}</p>
                    <p><a href="{% url 'employee_update' current_profile.pk %}">Редактировать</a></p>
                     <!-- Кнопка-триггер модального окна -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Паспортные данные
                    </button>
                </div>
            </div>
            <div class="row">
                <style>
                    .list-group-item.active {
                    z-index: 2;
                    color: #212529;
                    background-color: #FFB673;
                    border-color:#FFB673;;
                </style>
                <div class="list-group list-group-horizontal" id="list-tab" role="tablist" style="margin-bottom: 1rem">
                    <a class="list-group-item list-group-item-action active" id="list-education-list" data-bs-toggle="list" href="#list-education" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Образование</a>
                    <a class="list-group-item list-group-item-action" id="list-medicine-list" data-bs-toggle="list" href="#list-medicine" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Мед.комиссия</a>
                    <a class="list-group-item list-group-item-action" id="list-certificate-list" data-bs-toggle="list" href="#list-certificate" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Удостоверения</a>
                    <a class="list-group-item list-group-item-action" id="list-psycho-list" data-bs-toggle="list" href="#list-psycho" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Псих.освидетельствование</a>
                </div>
                <div class="row">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-education" role="tabpanel" aria-labelledby="list-home-list">
                            {% if education %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                           <th scope="col">Название</th>
                                           <th scope="col">Дата завершения</th>
                                           <th scope="col">Документ</th>
                                           <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for ed in education %}
                                        <tr>
                                            <td>{{ed.prof_name}}</td>
                                            <td>{{ed.date_finish_education}}</td>
                                                {% if ed.document_education %}
                                                    <td><a href="{{ed.document_education.url}}" download="{{ed.document_education.url}}"><img src="/static/ico/download-48.png"></a>
                                                    {% load static %}
                                                        <a href="{% get_media_prefix %}{{ed.document_education}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                                    </td>
                                                {% else %}
                                                    <td>-</td>
                                                {% endif %}
                                            <td><a href="{% url 'education_update' ed.pk %}"><img src="/static/ico/edit-48.png"></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                            <a class="btn btn-primary btn-sm" href="{% url 'education_add' %}" style="width: 20%">Добавить образование</a>
                            {% else %}
                                <a class="btn btn-primary btn-sm" href="{% url 'education_add' %}" style="width: 20%">Добавить образование</a>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade show" id="list-medicine" role="tabpanel" aria-labelledby="list-home-list">
                            {% if medicine %}
                                <table class="table">
                                     <thead>
                                        <tr>
                                          <th scope="col">Номер пункта</th>
                                          <th scope="col">Дата прохождения</th>
                                          <th scope="col">Дата следующего осмотра</th>
                                          <th scope="col">Осталось дней</th>
                                          <th scope="col"></th>
                                        </tr>
                                      </thead>
                                     <tbody>
                                        {% for med in medicine_paragraph %}
                                            <tr>
                                                <td>{{med.number_paragraph}}</td>
                                                <td>{{med.date_finish_paragraph}}</td>
                                                <td>{{med.date_end_paragraph}}</td>
                                                <td>{{med.time}}</td>
                                                <td><a href="{% url 'paragraph_update' med.pk %}"><img src="/static/ico/edit-48.png"></a></td>
                                            </tr>
                                        {% endfor %}
                                     </tbody>
                                 </table>
                                    <a class="btn btn-primary btn-sm" href="{% url 'paragraph_add' %}" style="width: 20%">Добавить пункт мед.осмотра</a>
                                {% if medicine.document_medicine %}
                                    <a href="{{medicine.document_medicine.url}}" download="{{medicine.document_medicine.url}}"><img src="/static/ico/download-48.png"></a>
                                    {% load static %}
                                        <a href="{% get_media_prefix %}{{medicine.document_medicine}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                {% endif %}
                            {% else %}
                                <a class="btn btn-primary btn-sm" href="{% url 'medicine_add' %}" style="width: 20%">Добавить мед.заключение</a>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade show" id="list-certificate" role="tabpanel" aria-labelledby="list-home-list">
                            {% if certificate %}
                             <table class="table">
                                 <thead>
                                     <tr>
                                         <th scope="col">Название</th>
                                         <th scope="col">Получил</th>
                                         <th scope="col">Срок действия</th>
                                         <th scope="col">Удостоверение</th>
                                         <th scope="col">Протокол</th>
                                         <th scope="col">Осталось дней</th>
                                         <th scope="col"></th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                 {% for c in certificate %}
                                     <tr>
                                        <td>{{c.name_certificate}}</td>
                                        <td>{{c.date_finish_certificate}}</td>
                                        <td>{{c.date_end_certificate}}</td>
                                        {% if c.certificate %}
                                            <td><a href="{{c.certificate.url}}" download="{{c.certificate.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                    <a href="{% get_media_prefix %}{{c.certificate}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                        {% else %}
                                            <td>-</td>
                                        {% endif %}
                                        {% if c.protocol %}
                                            <td><a href="{{c.protocol.url}}" download="{{c.protocol.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                    <a href="{% get_media_prefix %}{{c.protocol}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                            {% else %}
                                            <td>-</td>
                                        {% endif %}
                                        {% if c.time < 0 %}
                                            <td style="color: red">{{c.time}}</td>
                                        {% elif c.time < 31 %}
                                            <td style="color: orange">{{c.time}}</td>
                                        {% else %}
                                            <td style="color: green">{{c.time}}</td>
                                        {% endif %}
                                        <td><a href="{% url 'certificate_update' c.pk %}"><img src="/static/ico/edit-48.png"></a></td>
                                     </tr>
                                 {% endfor %}
                                 </tbody>
                             </table>
                             <a class="btn btn-primary btn-sm" href="{% url 'certificate_add' %}" style="width: 20%">Добавить удостоверение</a>
                            {% else %}
                                <a class="btn btn-primary btn-sm" href="{% url 'certificate_add' %}" style="width: 20%">Добавить удостоверение</a>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade show" id="list-psycho" role="tabpanel" aria-labelledby="list-home-list">
                            {% if psycho %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Дата освидетельствования</th>
                                        <th scope="col">Дата следующего освидетельстования</th>
                                        <th scope="col">Дней до окончания действия</th>
                                        <th scope="col">Заключение</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for psy in psycho %}
                                    <tr>
                                        <td> {{psy.date_finish_psycho}}</td>
                                        <td> {{psy.date_end_psycho}}</td>
                                        <td> {{psy.time}}</td>
                                        {% if psy.document_psycho %}
                                            <td> <a href="{{psy.document_psycho.url}}" download="{{psy.document_psycho.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                    <a href="{% get_media_prefix %}{{psy.document_psycho}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                        {% else %}
                                            <td> - </td>
                                        {% endif %}
                                        <td><a href="{% url 'psycho_update' psy.pk %}"><img src="/static/ico/edit-48.png"></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <a class="btn btn-primary btn-sm" href="{% url 'psycho_add' %}" style="width: 20%">Добавить псих.заключение</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Паспортные данные</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
          {% for pass in passport %}
            <p>серия: {{pass.series}}</p>
            <p>номер: {{pass.number}}</p>
            <p>дата выдачи: {{pass.date_of_issue}}</p>
            <p>выдан: {{pass.fms}}</p>
            <p>прописка: {{pass.registration}}</p>
          {% endfor %}
      </div>
      <div class="modal-footer">
          {% if passport %}
                {% for pass in passport %}
                    <a class="btn btn-primary btn-sm" href="{% url 'passport_update' pass.id %}">Редактировать</a>
                {% endfor %}
                {% else %}
                    <a class="btn btn-primary btn-sm" href="{% url 'passport_add' %}">Добавить</a>
          {% endif %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

    {% endblock content %}
</body>
</html>