<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
    {% block content %}
        <div class="container">
            <div class="row" style="margin-bottom: 2rem;">
                <div class="col" style="margin-top: 1rem">
                    {% if current_profile.photo_employee %}
                        <img class="elementMobile" src="{{MEDIA_URL}}{{ current_profile.photo_employee.url }}" style="width: 100%">
                    {% endif %}
                </div>
                <div class="col elementMobile" style="margin-top: 1rem">
                    <!-- Информация оработнике -->
                    <p>{{current_profile.surname}} {{current_profile.name}} {{current_profile.patronym}}</p>
                    <p>Должность: {{current_profile.profession.name}}</p>
                    <p>Структурное подразделение: {{current_profile.subdivision}}</p>
                    <p>дата рождения: {{current_profile.birth_date}}</p>
                    <p>телефон: {{current_profile.phone}}</p>
                    <p><a href="{% url 'employee_update' current_profile.pk %}">Редактировать</a></p>
                     <!-- Кнопка-триггер модального окна -->
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-bottom: 5px; background-color: #B0C4DE">
                      Паспортные данные
                    </button>
                    <!-- информация о СОУТ -->
                    <p>
                        {% if current_profile.sawc.all %}
                            {% for sawc in current_profile.sawc.all %}
                                {% if sawc.document_sawc %}
                                    Карта СОУТ <a href="{{sawc.document_sawc.url}}" download="{{sawc.document_sawc.url}}"><img src="/static/ico/download-48.png"></a>
                                               {% load static %}
                                               <a href="{% get_media_prefix %}{{sawc.document_sawc}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <a class="btn" href="{% url 'sawc_add_to' current_profile.pk %}" style="background-color: #B0C4DE">Добавить карту СОУТ</a>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row hiddenMobile">
                <style>
                    .list-group-item.active {
                    z-index: 2;
                    color: #212529;
                    background-color: #FFB673;
                    border-color:#FFB673;;
                </style>
                <!-- Панель вкладок -->
                <div class="list-group list-group-horizontal" id="list-tab" role="tablist" style="margin-bottom: 1rem">
                    <a class="list-group-item list-group-item-action active" id="list-education-list" data-bs-toggle="list" href="#list-education" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Образование</a>
                    <a class="list-group-item list-group-item-action" id="list-medicine-list" data-bs-toggle="list" href="#list-medicine" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Мед.комиссия</a>
                    <a class="list-group-item list-group-item-action" id="list-certificate-list" data-bs-toggle="list" href="#list-certificate" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Удостоверения</a>
                    <a class="list-group-item list-group-item-action" id="list-psycho-list" data-bs-toggle="list" href="#list-psycho" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Псих.освидетельствование</a>
                    <a class="list-group-item list-group-item-action" id="list-orders-list" data-bs-toggle="list" href="#list-orders" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Приказы</a>
                    <a class="list-group-item list-group-item-action" id="list-instruction-list" data-bs-toggle="list" href="#list-instruction" role="tab" aria-controls="list-home" style="border-radius: 20px 5px 0px 0px">Инструкции ОТ</a>
                </div>

                <div class="row" style="margin-bottom: 5rem">
                    <div class="tab-content" id="nav-tabContent">
                        <!-- Вкладка образование -->
                        <div class="tab-pane fade show active" id="list-education" role="tabpanel" aria-labelledby="list-home-list">
                            {% if education %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                           <th scope="col">Название</th>
                                           <th scope="col">Дата завершения</th>
                                           <th scope="col">Документ</th>
                                           <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for ed in education %}
                                        <tr>
                                            <td>{{ed.prof_name}}</td>
                                            <td>{{ed.date_finish_education}}</td>
                                                {% if ed.document_education %}
                                                    <td><a href="{{ed.document_education.url}}" download="{{ed.document_education.url}}"><img src="/static/ico/download-48.png"></a>
                                                    {% load static %}
                                                        <a href="{% get_media_prefix %}{{ed.document_education}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                                    </td>
                                                {% else %}
                                                    <td>-</td>
                                                {% endif %}
                                            <td><a href="{% url 'education_update' ed.pk %}"><img src="/static/ico/edit-48.png"></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                            <a class="btn" href="{% url 'education_add' %}" style="width: 20%; background-color: #B0C4DE">Добавить образование</a>
                            {% else %}
                                <a class="btn" href="{% url 'education_add' %}" style="width: 20%; background-color: #B0C4DE">Добавить образование</a>
                            {% endif %}
                        </div>
                        <!-- Вкладка медицинских осмотров -->
                        <div class="tab-pane fade show" id="list-medicine" role="tabpanel" aria-labelledby="list-home-list">
                            {% if medicine %}
                                <table class="table">
                                     <thead>
                                        <tr>
                                          <th scope="col">Номер пункта</th>
                                          <th scope="col">Дата прохождения</th>
                                          <th scope="col">Дата следующего осмотра</th>
                                          <th scope="col">Осталось дней</th>
                                          <th scope="col"></th>
                                        </tr>
                                      </thead>
                                     <tbody>
                                        {% for med in medicine_paragraph %}
                                            <tr>
                                                <td>{{med.number_paragraph}}</td>
                                                <td>{{med.date_finish_paragraph}}</td>
                                                <td>{{med.date_end_paragraph}}</td>
                                                <td>{{med.time}}</td>
                                                <td><a href="{% url 'paragraph_update' med.pk %}"><img src="/static/ico/edit-48.png"></a></td>
                                            </tr>
                                        {% endfor %}
                                     </tbody>
                                 </table>
                                    <a class="btn" href="{% url 'paragraph_add' %}" style="width: 20%; background-color: #B0C4DE">Добавить пункт мед.осмотра</a>
                                {% if medicine.document_medicine %}
                                    <a href="{{medicine.document_medicine.url}}" download="{{medicine.document_medicine.url}}"><img src="/static/ico/download-48.png"></a>
                                    {% load static %}
                                        <a href="{% get_media_prefix %}{{medicine.document_medicine}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                {% endif %}
                            {% else %}
                                <a class="btn" href="{% url 'medicine_add' %}" style="width: 20%; background-color: #B0C4DE">Добавить мед.заключение</a>
                            {% endif %}
                        </div>
                        <!-- Вкладка удостоверений -->
                        <div class="tab-pane fade show" id="list-certificate" role="tabpanel" aria-labelledby="list-home-list">
                            {% if certificate %}
                             <table class="table">
                                 <thead>
                                     <tr>
                                         <th scope="col">Название</th>
                                         <th scope="col">Получил</th>
                                         <th scope="col">Срок действия</th>
                                         <th scope="col">Удостоверение</th>
                                         <th scope="col">Протокол</th>
                                         <th scope="col">Осталось дней</th>
                                         <th scope="col"></th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                 {% for c in certificate %}
                                     <tr>
                                        <td>{{c.name_certificate}}</td>
                                        <td>{{c.date_finish_certificate}}</td>
                                        <td>{{c.date_end_certificate}}</td>
                                        {% if c.certificate %}
                                            <td><a href="{{c.certificate.url}}" download="{{c.certificate.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                    <a href="{% get_media_prefix %}{{c.certificate}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                        {% else %}
                                            <td>-</td>
                                        {% endif %}
                                        {% if c.protocol %}
                                            <td><a href="{{c.protocol.url}}" download="{{c.protocol.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                    <a href="{% get_media_prefix %}{{c.protocol}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                            {% else %}
                                            <td>-</td>
                                        {% endif %}
                                        {% if c.time < 0 %}
                                            <td style="color: red">{{c.time}}</td>
                                        {% elif c.time < 31 %}
                                            <td style="color: orange">{{c.time}}</td>
                                        {% else %}
                                            <td style="color: green">{{c.time}}</td>
                                        {% endif %}
                                        <td><a href="{% url 'certificate_update' c.pk %}"><img src="/static/ico/edit-48.png"></a></td>
                                     </tr>
                                 {% endfor %}
                                 </tbody>
                             </table>
                             <a class="btn" href="{% url 'certificate_add' %}" style="width: 20%; background-color: #B0C4DE">Добавить удостоверение</a>
                            {% else %}
                                <a class="btn" href="{% url 'certificate_add' %}" style="width: 20%; background-color: #B0C4DE">Добавить удостоверение</a>
                            {% endif %}
                        </div>
                        <!-- Вкладка психиатрического освидетельствования -->
                        <div class="tab-pane fade show" id="list-psycho" role="tabpanel" aria-labelledby="list-home-list">
                            {% if psycho %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                           <th scope="col">Дата прохождения</th>
                                           <th scope="col">Срок действия</th>
                                           <th scope="col">Осталось дней</th>
                                           <th scope="col">Заключение</th>
                                           <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for psy in psycho %}
                                        <tr>
                                            <td>{{psy.date_finish_psycho}}</td>
                                            <td>{{psy.date_end_psycho}}</td>
                                            {% if psy.time < 0 %}
                                                <td style="color: red">{{psy.time}}</td>
                                            {% elif c.time < 31 %}
                                                <td style="color: orange">{{psy.time}}</td>
                                            {% else %}
                                                <td style="color: green">{{psy.time}}</td>
                                            {% endif %}
                                                {% if psy.document_psycho %}
                                                    <td><a href="{{psy.document_psycho.url}}" download="{{psy.document_psycho.url}}"><img src="/static/ico/download-48.png"></a>
                                                    {% load static %}
                                                        <a href="{% get_media_prefix %}{{psy.document_psycho}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                                    </td>
                                                {% else %}
                                                    <td>-</td>
                                                {% endif %}
                                            <td><a href="{% url 'psycho_update' psy.id %}"><img src="/static/ico/edit-48.png"></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                            <a class="btn" href="{% url 'psycho_add' %}" style="width: 20%; background-color: #B0C4DE">Добавить освидетельствование</a>
                            {% else %}
                                <a class="btn" href="{% url 'psycho_add' %}" style="width: 20%; background-color: #B0C4DE">Добавить освидетельствование</a>
                            {% endif %}
                        </div>
                        <!-- Вкладка приказов -->
                        <div class="tab-pane fade show" id="list-orders" role="tabpanel" aria-labelledby="list-home-list">
                            {% if orders %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Номер приказа</th>
                                        <th scope="col">Название приказа</th>
                                        <th scope="col">Дата</th>
                                        <th scope="col">Приказ</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td> {{order.number}}</td>
                                        <td> {{order.name}}</td>
                                        <td> {{order.date}}</td>
                                        {% if order.file %}
                                            <td> <a href="{{order.file.url}}" download="{{order.file.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                    <a href="{% get_media_prefix %}{{order.file}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                        {% else %}
                                            <td> - </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                Нет приказов с упоминанием работника {{current_profile.surname}} {{current_profile.name}} {{current_profile.patronym}}
                            {% endif %}
                        </div>
                        <!-- Вкладка инструкций -->
                        <div class="tab-pane fade show" id="list-instruction" role="tabpanel" aria-labelledby="list-home-list">
                            {% if instruction_profession or instruction_employee %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Номер инструкции</th>
                                        <th scope="col">Название инструкции</th>
                                        <th scope="col">Дата</th>
                                        <th scope="col">Срок действия</th>
                                        <th scope="col">Инструкция</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for instruction_p in instruction_profession %}
                                    <tr>
                                        <td> {{instruction_p.number}}</td>
                                        <td> {{instruction_p.name}}</td>
                                        <td> {{instruction_p.date}}</td>
                                        <td> {{instruction_p.date_end}}</td>
                                        {% if instruction_p.file %}
                                            <td> <a href="{{instruction_p.file.url}}" download="{{instruction_p.file.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                    <a href="{% get_media_prefix %}{{instruction_p.file}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                        {% else %}
                                            <td> - </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    {% for instruction_e in instruction_employee %}
                                    <tr>
                                        <td> {{instruction_e.number}}</td>
                                        <td> {{instruction_e.name}}</td>
                                        <td> {{instruction_e.date}}</td>
                                        <td> {{instruction_e.date_end}}</td>
                                        {% if instruction_e.file %}
                                            <td> <a href="{{instruction_e.file.url}}" download="{{instruction_e.file.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                    <a href="{% get_media_prefix %}{{instruction_e.file}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </td>
                                        {% else %}
                                            <td> - </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                Нет инструкций по ОТ для работника {{current_profile.surname}} {{current_profile.name}} {{current_profile.patronym}}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div> <!-- Хвост то строки со вкладками для desktop -->
            <!-- Аккордеон для мобильной версии с информацией -->
            <div class="accordion hiddenDesktop" id="accordionExample" style="--bs-accordion-border-color: none; margin-bottom: 5rem">
                 <div class="accordion-item" style="margin-bottom: 0.25rem;">
                     <h2 class="accordion-header">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_1" aria-expanded="false" aria-controls="collapse_1">
                            Образование
                         </button>
                     </h2>
                     <div id="collapse_1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                         <div class="accordion-body">
                             {% if education %}
                                {% for ed in education %}
                                    <div class="row">{{ed.prof_name}}</div>
                                    <div class="row"> дата: {{ed.date_finish_education}}</div>
                                    <div class="row" style="margin-bottom: 1rem">
                                        {% if ed.document_education %}
                                            <div class="col">
                                                <a href="{{ed.document_education.url}}" download="{{ed.document_education.url}}"><img src="/static/ico/download-48.png"></a>
                                            </div>
                                            {% load static %}
                                            <div class="col">
                                                <a href="{% get_media_prefix %}{{ed.document_education}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </div>
                                        {% else %}
                                            -
                                        {% endif %}
                                        <div class="col">
                                            <a href="{% url 'education_update' ed.pk %}"><img src="/static/ico/edit-48.png"></a>
                                        </div>
                                    </div>
                                {% endfor %}
                                <a class="btn" href="{% url 'education_add' %}" style="background-color: #B0C4DE">Добавить образование</a>
                            {% else %}
                                <a class="btn" href="{% url 'education_add' %}" style="background-color: #B0C4DE">Добавить образование</a>
                            {% endif %}
                         </div>
                     </div>
                 </div>
                 <div class="accordion-item">
                     <h2 class="accordion-header">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
                            Мед.комиссия
                         </button>
                    </h2>
                    <div id="collapse_2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if medicine %}
                                {% for med in medicine_paragraph %}
                                    <div class="row">
                                        п {{med.number_paragraph}}
                                        от {{med.date_finish_paragraph}}
                                    </div>
                                    <div class="row">
                                        до {{med.date_end_paragraph}}
                                        дней {{med.time}}
                                    </div>
                                    <div class="row">
                                        <a href="{% url 'paragraph_update' med.pk %}"><img src="/static/ico/edit-48.png"></a>
                                    </div>
                                {% endfor %}
                                    <a class="btn" href="{% url 'paragraph_add' %}" style="background-color: #B0C4DE">Добавить пункт</a>
                                {% if medicine.document_medicine %}
                                    <a href="{{medicine.document_medicine.url}}" download="{{medicine.document_medicine.url}}"><img src="/static/ico/download-48.png"></a>
                                    {% load static %}
                                        <a href="{% get_media_prefix %}{{medicine.document_medicine}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                {% endif %}
                            {% else %}
                                <a class="btn" href="{% url 'medicine_add' %}" style="background-color: #B0C4DE">Добавить мед.заключение</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                     <h2 class="accordion-header">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
                            Удостоверения
                         </button>
                    </h2>
                    <div id="collapse_3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if certificate %}
                                {% for c in certificate %}
                                    <div class="row">
                                        {{c.name_certificate}}
                                    </div>
                                    <div class="row">
                                        от {{c.date_finish_certificate}}
                                        до {{c.date_end_certificate}}
                                    </div>
                                    <div class="row" style="align-items: center;">
                                        {% if c.certificate %}
                                            <div class="col">
                                                Удостоверение
                                            </div>
                                            <div class="col">
                                                <a href="{{c.certificate.url}}" download="{{c.certificate.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                <a href="{% get_media_prefix %}{{c.certificate}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </div>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                    <div class="row" style="align-items: center;">
                                        {% if c.protocol %}
                                            <div class="col">
                                                Протокол
                                            </div>
                                            <div class="col">
                                                <a href="{{c.protocol.url}}" download="{{c.protocol.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                <a href="{% get_media_prefix %}{{c.protocol}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            </div>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                    <div class="row" style="align-items: center;">
                                        <div class="col" style="white-space: nowrap">
                                            Дней осталось:
                                        </div>
                                        <div class="col">
                                            {% if c.time < 0 %}
                                                <span style="color: red">{{c.time}}</span>
                                            {% elif c.time < 31 %}
                                                <span style="color: orange">{{c.time}}</span>
                                            {% else %}
                                                <span style="color: green">{{c.time}}</span>
                                            {% endif %}
                                        </div>
                                        <div class="col">
                                            <a href="{% url 'certificate_update' c.pk %}"><img src="/static/ico/edit-48.png"></a>
                                        </div>
                                    </div>
                                {% endfor %}
                            <a class="btn" href="{% url 'certificate_add' %}" style="background-color: #B0C4DE">Добавить удостоверение</a>
                            {% else %}
                                <a class="btn" href="{% url 'certificate_add' %}" style="background-color: #B0C4DE">Добавить удостоверение</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                     <h2 class="accordion-header">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                            Псих.освидетельствование
                         </button>
                    </h2>
                    <div id="collapse_4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if psycho %}
                                {% for psy in psycho %}
                                    <div class="row">
                                        от {{psy.date_finish_psycho}}
                                        до {{psy.date_end_psycho}}
                                    </div>
                                    <div class="row">
                                        <div class="col">Осталось дней:</div>
                                        <div class="col">
                                            {% if psy.time < 0 %}
                                                <span style="color: red">{{psy.time}}</span>
                                            {% elif c.time < 31 %}
                                                <span style="color: orange">{{psy.time}}</span>
                                            {% else %}
                                                <span style="color: green">{{psy.time}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                        {% if psy.document_psycho %}
                                            <a href="{{psy.document_psycho.url}}" download="{{psy.document_psycho.url}}"><img src="/static/ico/download-48.png"></a>
                                            {% load static %}
                                            <a href="{% get_media_prefix %}{{psy.document_psycho}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    <a href="{% url 'psycho_update' psy.id %}"><img src="/static/ico/edit-48.png"></a>
                                {% endfor %}
                                <a class="btn" href="{% url 'psycho_add' %}" style="background-color: #B0C4DE">Добавить освидетельствование</a>
                            {% else %}
                                <a class="btn" href="{% url 'psycho_add' %}" style="background-color: #B0C4DE">Добавить освидетельствование</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                     <h2 class="accordion-header">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_5" aria-expanded="false" aria-controls="collapse_5">
                            Приказы
                         </button>
                    </h2>
                    <div id="collapse_5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if orders %}
                                {% for order in orders %}
                                    <div class="row">
                                        Приказ № {{order.number}}
                                        от {{order.date}}
                                    </div>
                                    <div class="row">
                                        {{order.name}}
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {% if order.file %}
                                                <a href="{{order.file.url}}" download="{{order.file.url}}"><img src="/static/ico/download-48.png"></a>
                                                {% load static %}
                                                <a href="{% get_media_prefix %}{{order.file}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                Нет приказов с упоминанием работника {{current_profile.surname}} {{current_profile.name}} {{current_profile.patronym}}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                     <h2 class="accordion-header">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_6" aria-expanded="false" aria-controls="collapse_6">
                            Инструкции ОТ
                         </button>
                    </h2>
                    <div id="collapse_6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if instruction_profession or instruction_employee %}
                                {% for instruction_p in instruction_profession %}
                                    <div class="row">
                                        {{instruction_p.name}}
                                    </div>
                                    <div class="row">
                                        №{{instruction_p.number}}
                                        от {{instruction_p.date}}
                                    </div>
                                    <div class="row">
                                        до {{instruction_p.date_end}}
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {% if instruction_p.file %}
                                                <a href="{{instruction_p.file.url}}" download="{{instruction_p.file.url}}"><img src="/static/ico/download-48.png"></a>
                                                    {% load static %}
                                                <a href="{% get_media_prefix %}{{instruction_p.file}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for instruction_e in instruction_employee %}
                                    <div class="row">
                                        {{instruction_e.name}}
                                    </div>
                                    <div class="row">
                                        № {{instruction_e.number}}
                                        от {{instruction_e.date}}
                                    </div>
                                    <div class="row">
                                        до {{instruction_e.date_end}}
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {% if instruction_e.file %}
                                                <a href="{{instruction_e.file.url}}" download="{{instruction_e.file.url}}"><img src="/static/ico/download-48.png"></a>
                                                    {% load static %}
                                                <a href="{% get_media_prefix %}{{instruction_e.file}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                Нет инструкций по ОТ для работника {{current_profile.surname}} {{current_profile.name}} {{current_profile.patronym}}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Хвост от контейнера -->


<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Паспортные данные</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
          {% for pass in passport %}
            <p>серия: {{pass.series}}</p>
            <p>номер: {{pass.number}}</p>
            <p>дата выдачи: {{pass.date_of_issue}}</p>
            <p>выдан: {{pass.fms}}</p>
            <p>прописка: {{pass.registration}}</p>
          {% endfor %}
      </div>
      <div class="modal-footer">
          {% if passport %}
                {% for pass in passport %}
                    <a class="btn" href="{% url 'passport_update' pass.id %}" style="background-color: #B0C4DE">Редактировать</a>
                {% endfor %}
                {% else %}
                    <a class="btn" href="{% url 'passport_add' %}" style="background-color: #B0C4DE">Добавить</a>
          {% endif %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

    {% endblock content %}
</body>
</html>