<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
{% block content %}
<div class="container">
    <p>{{current_profile.surname}} {{current_profile.name}} {{current_profile.patronym}}</p>
    <p><img src="{{MEDIA_URL}}{{ current_profile.photo_employee.url }}"></p>
    <p>Должность: {{current_profile.profession}}</p>
    <p>Структурное подразделение: {{current_profile.subdivision}}</p>
    <p>дата рождения: {{current_profile.birth_date}}</p>
    <p>телефон: {{current_profile.phone}}</p>
    <p>Паспорт</p>
    {% for pass in passport %}
    <p>серия: {{pass.series}}</p>
    <p>номер: {{pass.number}}</p>
    <p>дата выдачи: {{pass.date_of_issue}}</p>
    <p>выдан: {{pass.fms}}</p>
    <p>прописка: {{pass.registration}}</p>
    {% endfor %}
    <p><a href="{% url 'education' current_profile.pk %}">Образование</a></p>
    {% for med in medicine %}
    <p><a href="{% url 'medicine' med.pk %}">Медицина</a></p>
    <p>дата мед.осмотра {{med.date_medicine}}</p>
    {% endfor %}
    <p><a href="{% url 'certificate' current_profile.pk %}">Удостоверения</a></p>
    <p><a href="{% url 'psycho' current_profile.pk %}">Псих.освидетельствование</a></p>
</div>
{% endblock content %}
</body>
</html>