<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
{% block content %}
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Рабочее место</th>
          <th scope="col">Подразделение</th>
          <th scope="col">Дата</th>
          <th scope="col">Файл</th>
        </tr>
      </thead>
      <tbody>
        {% for sawc in sawc_list %}
           <tr>
             <td>{{ sawc.number_card }}</td>
             <td>{{ sawc.name_profession }}</td>
             <td>{{ sawc.name_subdivision }}</td>
             <td>{{ sawc.date_card }}</td>
             <td>
                 {% load static %}
                 <a href="{% get_media_prefix %}{{sawc.document_sawc}}" target ="_blank"><img src="/static/ico/look-48.png"></a>
                 <a href="{{sawc.document_sawc.url}}" download="{{sawc.document_sawc.url}}"><img src="/static/ico/download-48.png"></a>
                 <a href="{% url 'sawc_update' sawc.id %}"><img src="/static/ico/edit-48.png"></a>
                 <a href="{% url 'sawc_delete' sawc.id %}"><img src="/static/ico/delete-48.png"></a>
             </td>
           </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content %}
</body>
</html>