<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
{% block content %}
<div class="container">
    {% if admin_user %}
        <table class="table" style="margin-bottom: 7rem">
         {% if certificate %}
          <thead>
              <tr>
                  <th scope="col" style="background: linear-gradient(to right, #B0C4DE, #ffffff)">Просроченные удостоверения</th>
              </tr>
              <tr style="font-style: italic">
                  <th style="font-weight: normal">Название удостоверения</th>
                  <th style="font-weight: normal">Срок действия</th>
                  <th style="font-weight: normal">ФИО работника</th>
                  <th style="font-weight: normal">Подразделение</th>
              </tr>
          </thead>
         <tbody>
            {% for c in certificate %}
                {% if c.application == True %}
                    <tr style="background-color:  #BDECB6">
                        <td>{{c.name_certificate_list}}</td>
                        <td>{{c.date_end_certificate}}</td>
                        <td><a class="nav-link" href="{% url 'profile_employee' c.employee.pk %}">{{c.employee}}</a></td>
                        <td>{{c.employee.department}}</td>
                        <td style="background-color: white; border-bottom: none; font-size: x-small;">
                            в работе
                        </td>
                    </tr>
                {% else %}
                    <tr style="background-color: #f506066e">
                        <td>{{c.name_certificate_list}}</td>
                        <td>{{c.date_end_certificate}}</td>
                        <td><a class="nav-link" href="{% url 'profile_employee' c.employee.pk %}">{{c.employee}}</a></td>
                        <td>{{c.employee.department}}</td>
                        <td style="background-color: white; border-bottom: none; font-size: x-small;">
                            <a class="btn" href="{% url 'certificate_check' c.pk %}">-</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
         </tbody>
         {% endif %}
         {% if certificate_month %}
         <thead>
            <tr>
                <th scope="col" style="background: linear-gradient(to right, #B0C4DE, #ffffff)">Истекает срок действия удостоверений</th>
            </tr>
            <tr style="font-style: italic">
                <th style="font-weight: normal">Название удостоверения</th>
                <th style="font-weight: normal">Срок действия</th>
                <th style="font-weight: normal">ФИО работника</th>
                <th style="font-weight: normal">Подразделение</th>
            </tr>
          </thead>
         <tbody>
            {% for c in certificate_month %}
                {% if c.application == True %}
                    <tr style="background-color:  #BDECB6">
                        <td>{{c.name_certificate_list}}</td>
                        <td>{{c.date_end_certificate}}</td>
                        <td><a class="nav-link" href="{% url 'profile_employee' c.employee.pk %}">{{c.employee}}</a></td>
                        <td>{{c.employee.department}}</td>
                        <td style="background-color: white; border-bottom: none; font-size: x-small;">
                            в работе
                        </td>
                    </tr>
                {% else %}
                    <tr style="background-color: #ffa50078">
                        <td>{{c.name_certificate_list}}</td>
                        <td>{{c.date_end_certificate}}</td>
                        <td><a class="nav-link" href="{% url 'profile_employee' c.employee.pk %}">{{c.employee}}</a></td>
                        <td>{{c.employee.department}}</td>
                        <td style="background-color: white; border-bottom: none; font-size: x-small;">
                            <a class="btn" href="{% url 'certificate_check' c.pk %}">-</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
         </tbody>
         {% endif %}
         {% if medicine %}
          <thead>
              <tr>
                  <th scope="col" style="background: linear-gradient(to right, #B0C4DE, #ffffff)">Просроченные медицинские осмотры</th>
              </tr>
              <tr style="font-style: italic">
                  <th style="font-weight: normal">Номер пункта</th>
                  <th style="font-weight: normal">Срок действия</th>
                  <th style="font-weight: normal">ФИО работника</th>
                  <th style="font-weight: normal">Подразделение</th>
              </tr>
          </thead>
         <tbody>
            {% for m in medicine %}
                {% if m.application == True %}
                    <tr style="background-color:  #BDECB6">
                        <td>{{m.number_paragraph_list}}</td>
                        <td>{{m.date_end_paragraph}}</td>
                        <td><a class="nav-link" href="{% url 'profile_employee' m.medicine.employee.pk %}">{{m.medicine.employee}}</a></td>
                        <td>{{m.medicine.employee.department}}</td>
                        <td style="background-color: white; border-bottom: none; font-size: x-small;">
                            в работе
                        </td>
                    </tr>
                {% else %}
                <tr style="background-color: #f506066e">
                    <td>{{m.number_paragraph_list}}</td>
                    <td>{{m.date_end_paragraph}}</td>
                    <td><a class="nav-link" href="{% url 'profile_employee' m.medicine.employee.pk %}">{{m.medicine.employee}}</a></td>
                    <td>{{m.medicine.employee.department}}</td>
                    <td style="background-color: white; border-bottom: none; font-size: x-small;">
                        <a class="btn" href="{% url 'medicine_check' m.pk %}">-</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
         </tbody>
         {% endif %}
         {% if medicine_month %}
          <thead>
              <tr>
                  <th scope="col" style="background: linear-gradient(to right, #B0C4DE, #ffffff)">Истекает срок медицинского осмотра</th>
              </tr>
              <tr style="font-style: italic">
                  <th style="font-weight: normal">Номер пункта</th>
                  <th style="font-weight: normal">Срок действия</th>
                  <th style="font-weight: normal">ФИО работника</th>
                  <th style="font-weight: normal">Подразделение</th>
              </tr>
          </thead>
         <tbody>
            {% for m in medicine_month %}
                {% if m.application == True %}
                    <tr style="background-color:  #BDECB6">
                        <td>{{m.number_paragraph_list}}</td>
                        <td>{{m.date_end_paragraph}}</td>
                        <td><a class="nav-link" href="{% url 'profile_employee' m.medicine.employee.pk %}">{{m.medicine.employee}}</a></td>
                        <td>{{m.medicine.employee.department}}</td>
                        <td style="background-color: white; border-bottom: none; font-size: x-small;">
                            в работе
                        </td>
                    </tr>
                {% else %}
                    <tr style="background-color: #ffa50078">
                        <td>{{m.number_paragraph_list}}</td>
                        <td>{{m.date_end_paragraph}}</td>
                        <td><a class="nav-link" href="{% url 'profile_employee' m.medicine.employee.pk %}">{{m.medicine.employee}}</a></td>
                        <td>{{m.medicine.employee.department}}</td>
                        <td style="background-color: white; border-bottom: none; font-size: x-small;">
                            <a class="btn" href="{% url 'medicine_check' m.pk %}">-</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
         </tbody>
         {% endif %}
         {% if psycho %}
          <thead>
              <tr>
                  <th scope="col" style="background: linear-gradient(to right, #B0C4DE, #ffffff)">Просроченные псих.освидетельствования</th>
              </tr>
              <tr style="font-style: italic">
                  <th style="font-weight: normal">Название документа</th>
                  <th style="font-weight: normal">ФИО работника</th>
                  <th style="font-weight: normal">Подразделение</th>
                  <th style="font-weight: normal">Срок действия</th>
              </tr>
          </thead>
         <tbody>
            {% for p in psycho %}
                {% if p.application == True %}
                        <tr style="background-color:  #BDECB6">
                            <td>Псих.освидетельствование</td>
                            <td><a class="nav-link" href="{% url 'profile_employee' p.employee.pk %}">{{p.employee}}</a></td>
                            <td>{{p.employee.department}}</td>
                            <td>{{p.date_end_psycho}}</td>
                            <td style="background-color: white; border-bottom: none; font-size: x-small;">
                                в работе
                            </td>
                        </tr>
                    {% else %}
                        <tr style="background-color: #f506066e">
                            <td>Псих.освидетельствование</td>
                            <td><a class="nav-link" href="{% url 'profile_employee' p.employee.pk %}">{{p.employee}}</a></td>
                            <td>{{p.employee.department}}</td>
                            <td>{{p.date_end_psycho}}</td>
                            <td style="background-color: white; border-bottom: none; font-size: x-small;">
                                <a class="btn" href="{% url 'psycho_check' p.pk %}">-</a>
                            </td>
                        </tr>
                    {% endif %}
            {% endfor %}
         </tbody>
         {% endif %}
         {% if psycho_month %}
          <thead>
              <tr>
                  <th scope="col" style="background: linear-gradient(to right, #B0C4DE, #ffffff)">Истекает срок псих.освидетельствования</th>
              </tr>
              <tr style="font-style: italic">
                  <th style="font-weight: normal">Название документа</th>
                  <th style="font-weight: normal">ФИО работника</th>
                  <th style="font-weight: normal">Подразделение</th>
                  <th style="font-weight: normal">Срок действия</th>
              </tr>
          </thead>
         <tbody>
            {% for p in psycho_month %}
                {% if p.application == True %}
                        <tr style="background-color:  #BDECB6">
                            <td>Псих.освидетельствование</td>
                            <td><a class="nav-link" href="{% url 'profile_employee' p.employee.pk %}">{{p.employee}}</a></td>
                            <td>{{p.employee.department}}</td>
                            <td>{{p.date_end_psycho}}</td>
                            <td style="background-color: white; border-bottom: none; font-size: x-small;">
                                в работе
                            </td>
                        </tr>
                    {% else %}
                        <tr style="background-color: #ffa50078">
                            <td>Псих.освидетельствование</td>
                            <td><a class="nav-link" href="{% url 'profile_employee' p.employee.pk %}">{{p.employee}}</a></td>
                            <td>{{p.employee.department}}</td>
                            <td>{{p.date_end_psycho}}</td>
                            <td style="background-color: white; border-bottom: none; font-size: x-small;">
                                <a class="btn" href="{% url 'psycho_check' p.pk %}">-</a>
                            </td>
                        </tr>
                    {% endif %}
            {% endfor %}
         </tbody>
         {% endif %}
     </table>
    {% endif %}
</div>
{% endblock content %}
</body>
</html>