<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
{% block content %}
{% if request.user.supervisor %}
<div class="container">
     <table class="table hiddenMobile" style="margin-bottom: 5rem">
          <thead>
              <tr>
                  <th scope="col" style="background: linear-gradient(to right, #B0C4DE, #ffffff)">Удостоверения</th>
              </tr>
              <tr style="font-style: italic">
                  <th style="font-weight: normal">Название удостоверения</th>
                  <th style="font-weight: normal">Срок действия</th>
                  <th style="font-weight: normal">ФИО работника</th>
              </tr>
          </thead>
         <tbody>
            {% for employee, certificate in set_subdivision_certificate.items %}
            {% if employee and certificate %}
                {% for c in certificate %}
                    {% if c.application == True %}
                        <tr style="background-color:  #BDECB6">
                            <td>{{c.name_certificate_list}}</td>
                            <td>{{c.date_end_certificate}}</td>
                            <td><a class="nav-link" href="{% url 'profile_employee' c.employee.pk %}">{{c.employee}}</a></td>
                            <td style="background-color: white; border-bottom: none; font-size: x-small;">
                                в работе
                            </td>
                        </tr>
                    {% else %}
                        <tr style="background-color: #f506066e">
                            <td>{{c.name_certificate_list}}</td>
                            <td>{{c.date_end_certificate}}</td>
                            <td><a class="nav-link" href="{% url 'profile_employee' c.employee.pk %}">{{c.employee}}</a></td>
                            <td style="background-color: white; border-bottom: none; font-size: x-small;">
                                -
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% endif %}
            {% endfor %}
         </tbody>
         {% for employee, certificate in set_subdivision_certificate_month.items %}
            {% if employee and certificate %}
         <tbody>
            {% for c in certificate %}
                {% if c.application == True %}
                    <tr style="background-color:  #BDECB6">
                        <td>{{c.name_certificate_list}}</td>
                        <td>{{c.date_end_certificate}}</td>
                        <td><a class="nav-link" href="{% url 'profile_employee' c.employee.pk %}">{{c.employee}}</a>
                        <td style="background-color: white; border-bottom: none; font-size: x-small;">
                            в работе
                        </td>
                    </tr>
                {% else %}
                <tr style="background-color: #ffa50078">
                    <td>{{c.name_certificate_list}}</td>
                    <td>{{c.date_end_certificate}}</td>
                    <td><a class="nav-link" href="{% url 'profile_employee' c.employee.pk %}">{{c.employee}}</a>
                    <td style="background-color: white; border-bottom: none; font-size: x-small;">
                        -
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
         </tbody>
         {% endif %}
         {% endfor %}
          <thead>
              <tr>
                  <th scope="col" style="background: linear-gradient(to right, #B0C4DE, #ffffff)">Медицинские осмотры</th>
              </tr>
               <tr style="font-style: italic">
                  <th style="font-weight: normal">Номер пункта</th>
                  <th style="font-weight: normal">Срок действия</th>
                  <th style="font-weight: normal">ФИО работника</th>
              </tr>
          </thead>
         <tbody>
         {% if medicine %}
            {% for m in medicine %}
                {% if m.application == True %}
                    <tr style="background-color:  #BDECB6">
                        <td>{{m.number_paragraph_list}}</td>
                        <td>{{m.date_end_paragraph}}</td>
                        <td><a class="nav-link" href="{% url 'profile_employee' m.medicine.employee.pk %}">{{m.medicine.employee}}</a></td>
                        <td style="background-color: white; border-bottom: none; font-size: x-small;">
                            в работе
                        </td>
                    </tr>
                {% else %}
                    <tr style="background-color: #f506066e">
                        <td>{{m.number_paragraph_list}}</td>
                        <td>{{m.date_end_paragraph}}</td>
                        <td><a class="nav-link" href="{% url 'profile_employee' m.medicine.employee.pk %}">{{m.medicine.employee}}</a></td>
                        <td style="background-color: white; border-bottom: none; font-size: x-small;">
                            -
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
         </tbody>
         {% endif %}
         {% if medicine_month %}
         <tbody>
            {% for m in medicine_month %}
                {% if m.application == True %}
                    <tr style="background-color:  #BDECB6">
                        <td>{{m.number_paragraph}}</td>
                        <td>{{m.date_end_paragraph}}</td>
                        <td><a class="nav-link" href="{% url 'profile_employee' m.medicine.employee.pk %}">{{m.medicine.employee}}</a></td>
                        <td style="background-color: white; border-bottom: none; font-size: x-small;">
                            в работе
                        </td>
                    </tr>
                {% else %}
                    <tr style="background-color: #ffa50078">
                        <td>{{m.number_paragraph_list}}</td>
                        <td>{{m.date_end_paragraph}}</td>
                        <td><a class="nav-link" href="{% url 'profile_employee' m.medicine.employee.pk %}">{{m.medicine.employee}}</a></td>
                        <td style="background-color: white; border-bottom: none; font-size: x-small;">
                            -
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
         </tbody>
         {% endif %}
          <thead>
              <tr>
                  <th scope="col" style="background: linear-gradient(to right, #B0C4DE, #ffffff)">Псих.освидетельствования</th>
              </tr>
              <tr style="font-style: italic">
                  <th style="font-weight: normal">Название документа</th>
                  <th style="font-weight: normal">ФИО работника</th>
                  <th style="font-weight: normal">Срок действия</th>
              </tr>
          </thead>
         <tbody>
         {% for employee, psycho in set_subdivision_psycho.items %}
            {% if employee and psycho %}
                {% for p in psycho %}
                    {% if p.application == True %}
                        <tr style="background-color:  #BDECB6">
                            <td>Псих.освидетельствование</td>
                            <td><a class="nav-link" href="{% url 'profile_employee' p.employee.pk %}">{{p.employee}}</a></td>
                            <td>{{p.date_end_psycho}}</td>
                            <td style="background-color: white; border-bottom: none; font-size: x-small;">
                                в работе
                            </td>
                        </tr>
                    {% else %}
                        <tr style="background-color: #f506066e">
                            <td>Псих.освидетельствование</td>
                            <td><a class="nav-link" href="{% url 'profile_employee' p.employee.pk %}">{{p.employee}}</a></td>
                            <td>{{p.date_end_psycho}}</td>
                            <td style="background-color: white; border-bottom: none; font-size: x-small;">
                                -
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
         {% endfor %}
         </tbody>
         <tbody>
         {% for employee, psycho_month in set_subdivision_psycho_month.items %}
            {% if employee and psycho_month %}
                {% for p in psycho_month %}
                    {% if p.application == True %}
                        <tr style="background-color:  #BDECB6">
                            <td>Псих.освидетельствование</td>
                            <td><a class="nav-link" href="{% url 'profile_employee' p.employee.pk %}">{{p.employee}}</a></td>
                            <td>{{p.date_end_psycho}}</td>
                            <td style="background-color: white; border-bottom: none; font-size: x-small;">
                                в работе
                            </td>
                        </tr>
                    {% else %}
                        <tr style="background-color: #ffa50078">
                            <td>Псих.освидетельствование</td>
                            <td><a class="nav-link" href="{% url 'profile_employee' p.employee.pk %}">{{p.employee}}</a></td>
                            <td>{{p.date_end_psycho}}</td>
                            <td style="background-color: white; border-bottom: none; font-size: x-small;">
                                -
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
         {% endfor %}
         </tbody>
     </table>
<!--    Мобильная версия-->
    <div class="hiddenDesktop" style="margin-bottom: 5rem;">
        <div class="row" style="background: linear-gradient(to right, #B0C4DE, #ffffff)">Удостоверения</div>
        {% for employee, certificate in set_subdivision_certificate.items %}
            {% if employee and certificate %}
                {% for c in certificate %}
                    <div class="row" style="background-color: #f506066e; margin-bottom: 0.25rem">
                        <div class="col">
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                {{c.name_certificate_list}}
                            </div>
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                Срок действия: {{c.date_end_certificate}}
                            </div>
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                Работник: <a class="nav-link" href="{% url 'profile_employee' c.employee.pk %}">{{c.employee}}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% for employee, certificate in set_subdivision_certificate_month.items %}
            {% if employee and certificate %}
                {% for c in certificate %}
                    <div class="row" style="background-color: #ffa50078; margin-bottom: 0.25rem">
                        <div class="col">
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                {{c.name_certificate_list}}
                            </div>
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                Срок действия: {{c.date_end_certificate}}
                            </div>
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                Работник: <a class="nav-link" href="{% url 'profile_employee' c.employee.pk %}">{{c.employee}}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <!-- Мед.заключения -->
        <div class="row" style="background: linear-gradient(to right, #B0C4DE, #ffffff)">Мед. заключения</div>
        {% if medicine %}
            {% for m in medicine %}
                <div class="row" style="background-color: #f506066e; margin-bottom: 0.25rem">
                    <div class="col">
                        <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                            П. {{m.number_paragraph_list}}
                        </div>
                        <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                            срок действия: {{m.date_end_paragraph}}
                        </div>
                        <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                            <a class="nav-link" href="{% url 'profile_employee' m.medicine.employee.pk %}">{{m.medicine.employee}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if medicine_month %}
            {% for m in medicine_month %}
                <div class="row" style="background-color: #ffa50078; margin-bottom: 0.25rem">
                    <div class="col">
                        <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                            П. {{m.number_paragraph_list}}
                        </div>
                        <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                            срок действия: {{m.date_end_paragraph}}
                        </div>
                        <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                            <a class="nav-link" href="{% url 'profile_employee' m.medicine.employee.pk %}">{{m.medicine.employee}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <!-- психиатрия -->
        <div class="row" style="background: linear-gradient(to right, #B0C4DE, #ffffff)">Псих. освидетельствования</div>
        {% for employee, psycho in set_subdivision_psycho.items %}
            {% if employee and psycho %}
                {% for p in psycho %}
                    <div class="row" style="background-color: #f506066e; margin-bottom: 0.25rem">
                        <div class="col">
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                Псих.освидетельствование
                            </div>
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                <a class="nav-link" href="{% url 'profile_employee' p.employee.pk %}">{{p.employee}}</a>
                            </div>
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                {{p.date_end_psycho}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% for employee, psycho_month in set_subdivision_psycho_month.items %}
            {% if employee and psycho_month %}
                {% for p in psycho_month %}
                    <div class="row" style="background-color: #ffa50078; margin-bottom: 0.25rem">
                        <div class="col">
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                Псих.освидетельствование
                            </div>
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                <a class="nav-link" href="{% url 'profile_employee' p.employee.pk %}">{{p.employee}}</a>
                            </div>
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                {{p.date_end_psycho}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock content %}
</body>
</html>