<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<body>
{% block content %}
{% if request.user.supervisor %}
<div class="container">
     <table class="table hiddenMobile" style="margin-bottom: 5rem">
          <thead>
              <tr>
                  <th>Название удостоверения</th>
                  <th>Срок действия</th>
                  <th>ФИО работника</th>
              </tr>
          </thead>
         <tbody>
            {% for employee, certificate in set_subdivision_certificate.items %}
            {% if employee and certificate %}
                {% for c in certificate %}
                <tr style="background-color: #f506066e">
                    <td>{{c.name_certificate}}</td>
                    <td>{{c.date_end_certificate}}</td>
                    <td>{{c.employee}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            {% endfor %}
         </tbody>
         {% for employee, certificate in set_subdivision_certificate_month.items %}
            {% if employee and certificate %}
         <tbody>
            {% for c in certificate %}
                <tr style="background-color: #ffa50078">
                    <td>{{c.name_certificate}}</td>
                    <td>{{c.date_end_certificate}}</td>
                    <td>{{c.employee}}</td>
                </tr>
            {% endfor %}
         </tbody>
         {% endif %}
         {% endfor %}
         {% if medicine %}
          <thead>
              <tr>
                  <th scope="col">Просроченные медицинские осмотры</th>
              </tr>
              <tr>
                  <th>Номер пункта</th>
                  <th>Срок действия</th>
                  <th>ФИО работника</th>
              </tr>
          </thead>
         <tbody>
            {% for m in medicine %}
                <tr style="background-color: red">
                    <td>{{m.number_paragraph}}</td>
                    <td>{{m.date_end_paragraph}}</td>
                    <td>{{m.medicine.employee}}</td>
                </tr>
            {% endfor %}
         </tbody>
         {% endif %}
         {% if medicine_month %}
          <thead>
              <tr>
                  <th scope="col">Истекает срок медицинского осмотра</th>
              </tr>
              <tr>
                  <th>Номер пункта</th>
                  <th>Срок действия</th>
                  <th>ФИО работника</th>
              </tr>
          </thead>
         <tbody>
            {% for m in medicine_month %}
                <tr style="background-color: red">
                    <td>{{m.number_paragraph}}</td>
                    <td>{{m.date_end_paragraph}}</td>
                    <td>{{m.medicine.employee}}</td>
                </tr>
            {% endfor %}
         </tbody>
         {% endif %}
         {% if psycho %}
          <thead>
              <tr>
                  <th scope="col">Просроченные псих.освидетельствования</th>
              </tr>
              <tr>
                  <th>Название документа</th>
                  <th>ФИО работника</th>
                  <th>Срок действия</th>
              </tr>
          </thead>
         <tbody>
            {% for p in psycho %}
                <tr style="background-color: red">
                    <td>Псих.освидетельствование</td>
                    <td>{{p.employee}}</td>
                    <td>{{p.date_end_psycho}}</td>
                </tr>
            {% endfor %}
         </tbody>
         {% endif %}
         {% if psycho_month %}
          <thead>
              <tr>
                  <th scope="col">Истекает срок псих.освидетельствования</th>
              </tr>
              <tr>
                  <th>Название документа</th>
                  <th>ФИО работника</th>
                  <th>Срок действия</th>
              </tr>
          </thead>
         <tbody>
            {% for p in psycho_month %}
                <tr style="background-color: red">
                    <td>Псих.освидетельствование</td>
                    <td>{{p.employee}}</td>
                    <td>{{p.date_end_psycho}}</td>
                </tr>
            {% endfor %}
         </tbody>
         {% endif %}
     </table>
    <div class="hiddenDesktop">
        {% for employee, certificate in set_subdivision_certificate.items %}
            {% if employee and certificate %}
                {% for c in certificate %}
                    <div class="row" style="background-color: #f506066e; margin-bottom: 0.25rem">
                        <div class="col">
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                {{c.name_certificate}}
                            </div>
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                Срок действия: {{c.date_end_certificate}}
                            </div>
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                Работник: {{c.employee}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% for employee, certificate in set_subdivision_certificate_month.items %}
            {% if employee and certificate %}
                {% for c in certificate %}
                    <div class="row" style="background-color: #ffa50078; margin-bottom: 0.25rem">
                        <div class="col">
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                {{c.name_certificate}}
                            </div>
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                Срок действия: {{c.date_end_certificate}}
                            </div>
                            <div class="row" style="padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5);">
                                Работник: {{c.employee}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock content %}
</body>
</html>