{% extends "base.html" %}

{% block content %}
    <div class="container" style="margin-bottom: 5rem">
        <div class="row justify-content-center">
            <h2> {{employ.surname}} {{employ.name}} {{employ.patronym}}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col formMobile">
                        <div style="margin-bottom: 0.25rem">{{ form.username }}</div>
                        <div style="margin-bottom: 0.25rem">{{ form.surname }}</div>
                        <div style="margin-bottom: 0.25rem">{{ form.name }}</div>
                        <div style="margin-bottom: 0.25rem">{{ form.patronym }}</div>
                        <div style="margin-bottom: 0.25rem">{{ form.birth_date }}</div>
                        <div style="margin-bottom: 0.25rem">{{ form.phone }}</div>
                    </div>
                    <div class="col formMobile">
                        <div style="margin-bottom: 0.25rem">{{ form.subdivision.label_tag }}</div>
                        <div style="margin-bottom: 0.25rem">{{ form.subdivision }}</div>
                        <div style="margin-bottom: 0.25rem">{{ form.photo_employee }}</div>
                        <div style="margin-bottom: 0.25rem">{{ form.profession.label_tag }}</div>
                        <div style="margin-bottom: 0.25rem">{{ form.profession }}</div>
                        <div style="margin-bottom: 0.25rem">{{ form.supervisor.label_tag }} {{ form.supervisor }}</div>
                    </div>
                    <div class="col formMobile">
                        <div style="margin-bottom: 0.25rem">{{ form.password1.label_tag }}</div>
                        <div style="margin-bottom: 0.25rem">{{ form.password1 }}</div>
                        <div style="margin-bottom: 0.25rem">{{ form.password2.label_tag }}</div>
                        <div style="margin-bottom: 0.25rem">{{ form.password2 }}</div>
                    </div>
                </div>
                <input class="btn" type="submit" value="Продолжить" style="background-color: #B0C4DE">
            </form>
        </div>
    </div>
{% endblock %}